@charset "utf-8";
/* CSS Document */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dt,dd /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend,/* form elements 表单元素 */ th, td, /* table elements 表格元素 */ img/* img elements 图片元素 */ {
	border: medium none;
	margin: 0;
	padding: 0;
}
/** 设置默认字体 **/
body, button, input, select, textarea {
	font: 12px/1.5 '微软雅黑', tahoma, Srial, helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
em {
	font-style: normal;
}
/** 重置列表元素 **/
ul, ol {
	list-style: none;
}
/** 重置超链接元素 **/
a {
	text-decoration: none;
	color: #333;
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #F40;
}
/** 重置图片元素 **/
img {
	border: 0px;
}
/** 重置表格元素 **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	height: 100%;
}
body {
	color: #333;
}
.sheel {
	width: 100%;
	overflow: hidden;
}
/***************重置结束*************/
.content{
	width:1200px;
	margin:15px auto 10px;
	overflow:hidden;
}
.company{
	width:888px;
	margin-right:10px;
	border:1px solid #DDDDDD;
	float:left;
}
.company h5{
	height:50px;
	line-height:50px;
	font-size:16px;
	font-weight:bolder;
	color:#000;
	text-indent:30px;
	border-bottom:1px solid #dddddd;
}
.company p{
	line-height:32px;
	font-size:14px;
	padding:0px 10px;
}
.article{
	width:300px;
	float:right;
}
.article ul{
	padding:0px 3px;
	border:1px solid #dddddd;
}
.article ul p{
	height:50px;
	line-height:50px;
	font-size:14px;
	font-weight:bolder;
	color:#000;
	text-indent:15px;
}
.article ul li {
	height:42px;
	line-height:42px;
	border-top:1px solid #dddddd;
	text-indent:5px;
	max-width:280px;
	overflow:hidden;

}
.article a img{
	width:300px;
	margin-top:10px;
}